<nav class="relative flex flex-wrap items-center justify-between px-2 py-3 bg-pink-500 mb-3">
    <div class="px-4 flex flex-row items-center justify-between w-full">
        <a class="text-sm font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase text-white" [routerLink]="['/']">
            Tu App
        </a>
        <ng-container *ngIf="user$ | async as user; else noLogin">
          <ng-container *ngIf="user?.uid">
            <button mat-button [matMenuTriggerFor]="menu">
              <div class="flex flex-row justify-center items-center gap-2 bg-white text-pink-500 rounded-md p-1">
                    <div>
                      <mat-icon>perm_identity</mat-icon>
                    </div>
                    <div>
                      {{ user.displayName ? user.displayName : user.email }}
                    </div>
              </div>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="showModalAddUser()">Actualizar Usuario </button>
              <button mat-menu-item (click)="onSignOut()">Salir </button>
            </mat-menu>
          </ng-container>
        </ng-container>
    </div>
    <ng-template #noLogin>
        <div class="flex-row justify-center items-center">
            <button mat-button style="background-color: white; color: #EC4899;" (click)="showModalLogin()">Iniciar Sesión</button>
        </div>
    </ng-template>
</nav>
<ng-container *ngIf="user$ | async; else NoLogin">
  <div class="px-3 ">
    <router-outlet></router-outlet>
  </div>
</ng-container>

<ng-template #NoLogin>
  <div class="p-5 flex flex-col justify-center items-center w-full h-4/6 gap-4">
    <i class="fa-regular fa-user text-6xl"></i>
    <span class="text-base font-semibold">No ha iniciado sesión para ver sus archivos</span>
  </div>
</ng-template>